  body{
  background-color: #F6F6F6;
  overflow-x: hidden;
}
input[type="email"],
input[type="text"] {
    height: auto;

}
h1, h2, h3, h4 {
    line-height: 1.1;

}
h2,  h4{
  font-family: "Chalet-Sixty", "Avenir", "Helvetica, Arial", "sans-serif";
}
hr{
  height: 1px;
  margin: 0 auto;
  width: 50%;
}

.autocomplete{
  background: #F1F1F1;
  padding-top: 5px;
  &>input[type="text"]{
    width: 90%;
    margin-left: 12px;
  }
}

.filters-items{
  background: #F1F1F1;
  border: none;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  &:hover{
    background-color: white;
    color: black;
  }
}

.autocomplete-suggestion li{
  @extend .filters-items;
}

.auxiliar-bar {
  border-bottom: none;
  margin-top: 30px;
}

.auxiliar-bar-line{
  margin-bottom: 40px;
}

.ba-logo-mobile{
  background-image: url("../images/BAlogoHeaderMobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 60px;
  position: absolute;
  right: 4%;
  top: 15%;
}

.base-text-logo{
  color: black;
  font-size: 6px;
  position: absolute;
  right: 3%;
  top: 85%;

}

.branding-data{
  background-color: #FFFFFF;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  // margin-bottom: 15px;
  /* padding-bottom: 10px; */

}

.branding-data:after{
  background: none;

}

.branding-data .container{
  margin-top: 5px;
  background: none;

}

.toolbar .breadcrumb-item a{
  color: #999;
  font-size: 22px;
  font-weight: 400;

  &:hover {
      color: #3E4F5E;
  }
}
.toolbar .breadcrumb li:after{
  color: #999;
  content: "|";
  font-size: 23px;
}

.carousel-container{
  height: 250px;
  margin-top: 15px;
}

.carousel-item{
  height: 150px;
}

.owl-video-play-icon{
  background: url(images/owl.video.play.png) no-repeat!important;
}

.category-box {
    // background-color: #19c3e3;
    background-color: #CCCCCC;
    border-radius: 3px;
    height: 90px;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;

}

.category-box:hover{
  background-color: $ba-yellow;
}

.categories-container{
  background: white;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 15px;
}

.category-grid{
  background: white;
}

.categories-grid-item{
  margin: 0px;
}

.category-image svg{
  height: 50px;
  width: 50px;

}

.categories-item-title{
  color: #FFFFFF !important;
  font-size: 10px;
  margin: 0px 0px;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

.categories-item{
  height: 60px;
  margin-bottom: 0px;
  margin-top: 3px;
  margin-left: 0px;
  text-align: center;
}

.container-dataset > .thumbnail{
  border: none;
}

.categories-item .category-image{
  margin-bottom: 0px;
  margin-top: 5px;
}

.categories-row-container {
  height: auto;
}

.categories-sidebar{
  box-shadow: none;
}

.category-item, .categories-sidebar .category-item .category-icon{
  background-color: #F5F5F5;
}
.category-item:last-child .category-name{
  margin-left: 45px;
}

.categories-sidebar .category-icon svg path, .categories-sidebar .category-icon svg polygon, .categories-sidebar .category-icon svg rect{
  fill: #545D6F !important;
  color: #545D6F !important;
}

.categories-sidebar .category-item{
  min-height: 60px;
}

.categories-sidebar .category-name{
  margin-top: 12px;
}

.categories-underlined{
  border-bottom: none !important;
  max-height: 5px;
  margin-top: 9px;

}
.categories-underlined-push-down{
  @extend .categories-underlined;
  margin-top: 64px;
}
.collapse-icon {
  cursor: pointer;
  padding: 0 5px;
  position: absolute;
  right: 6%;
}

.colorText {
  display: none;
}
.container-resource-categories{
  display: block;
}
.container-resource-categories span{
  display: inline;
}

.filter-group .filter-icon, .filter-group .filter-name{
  background-color: #F5F5F5;
  color: #545D6F !important;
}

.filter-group .filter-name{
  margin-left: 35px;
}
.filter-title-wrap{
  cursor: pointer;
}
.filter-title-wrap:hover{ opacity: .7}

.categories-sidebar .category-icon:last-child{
  background-color: #F5F5F5;
  // @include svg-color(#545D6F);
}

.category-item:last-child{
  background-color: $ba-yellow;
}

.div-no-datasets {
  padding-top: 20px;
  height: 69px;
  padding-left: 15%;

  & .no-datasets {
    float: left;
    margin-right: 20px;
  }
  & .no-data {
      padding-top: 20px;
      font-size: 16px;
      font-family: Chalet-Sixty,Avenir,Helvetica,Arial,sans-serif;
      font-weight: 400;
  }
}

.container-search-bar{
  background-color: white;
}

[data-tooltip]:hover:after{
  background-color: #c0edf6;
  color: #3e4f5e;
}

.dataset-additional-info{
  background: white;
  border-radius: 3px;
  color: #4D4D4D;
  padding: 5px 10px;
  font-size:11px;

}

.dataset-additional-info-active{
  background: #4D4D4D !important;
  color: #FFFFFF !important;
}

.dataset-additional-info-table{
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}


.dataset-additional-info-table td {
    background: white;
    color: #717170;
    font-size: 12px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 2px 7px 1px 7px;
    width: 15vw;
  }

.dataset-additional-info-table th {
    color: #FFF;
    background: #999;
    border-bottom: 1px solid #999;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Chalet-Eighty' !important;
    font-size: 13px;
    padding: 3px 7px 2px 7px;
}

// .dataset-additional-info-table td {
//   padding: 2px 7px 1px 7px;
//   width: 15vw;
// }


.dataset-hide-resource:hover, .dataset-hide-resource:hover:after,.dataset-additional-info:hover, .dataset-additional-info:hover:after{
  color: inherit;

}

.dataset-button{
  border-radius: 3px;
  color:#FFFFFF;
  display: inline-block;
  font-family: "Chalet-Eighty", "Avenir", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  padding: 1px 3px;
}


.dataset-button span{
  display: inline;
  margin:10px;
}

.dataset-button:after{
  float: right;
  font-family: "FontAwesome";
  color: #FFFFFF;
  content: "\f0d7";
  display: inline-block;
  margin-right: 5px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}


.view-resources .open .dataset-view-info:after  {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}


.dataset-view-info:after{
  margin: 0 10px 0 5px;
}
.dataset-view-info{
  @extend .dataset-button;
  background-color: $ba-skyblue;
  padding-left: 15px;
  cursor: pointer;
}
.dataset-hide-resource{
  padding: 1px 10px;
  margin-left: none;
}
.dataset-download-button{
  @extend .dataset-button;
  background-color: $light-green;
}

.dataset-download-button:after{
  transform: rotate(0deg);

}

.dataset-download-button-alt{
    @extend .dataset-download-button;
    margin-top: -3px;
    // position: absolute;
    // top: 210px;
    // right: 9%;
}


// .dataset-download-button-alt:after{
//     content: none;
// }

.dataset-guide-data{
  @extend .dataset-button;
  background-color: $ba-skyblue;
}

.dataset-guide-data:after{
  content: none;
}

.dataset-guide-data a{
  color: white;
}

.dataset-category-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: 100%;
    // margin-left: -5px;
    margin-right: 0px;
    // margin-top: 0px;
    // margin-top: 3px;
}

.dataset-content{
  // background-color: inherit;
  // border-radius: 3px;
  // box-shadow: 0px 0px 10px #888888;
  margin: 10px 10px 0px 10px;
  position: relative;

}

.dataset-heading {
    color: #3E4F5E;
    font-size: 25px;
    font-weight: 400;
}

.dataset-heading a{
  color:#3E4F5E;
  font-size: 30px;
  // font-size: 24px;
  font-family: "Chalet-Eighty", "Avenir", Helvetica, Arial, sans-serif;
}
.dataset-heading a:hover{
  color: #999;
}
//
// .dataset-latest-update-alt{
//   color: #606060;
// }
.dataset-item-padding{
  padding-left: -15px;
  padding-right: -15px;
}
.dataset-content .dataset-latest-update{
  color: #3E4F5E;
}

.dataset-heading-alt a{
  color: #606060;
}

.description-header{
  padding-top: 5px;
  position: relative;
}

.branding-data h1 a{
  color: #3E4F5E;
  font-family: 'Chalet-Eighty'
}

.dataset-item:last-of-type{
  border-bottom: none;
  // padding-bottom: 15px;
  // padding-bottom: 30px;
  margin-bottom: 0px;
}

.dataset-resources{
  position: relative;
}

.dataset-resources-heading > img{
  margin-bottom: 2px;
  vertical-align: inherit;
}

.dataset-resources .label, .category.label{
  background: #999;
}

.dataset-resources .unstyled{
  // margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.dataset-resources .unstyled li{
  background-color: white;
}

.dataset-description{
  margin-bottom: 15px;
}

.dataset-hide-resource, .dataset-additional-info{
  margin-left: 0px;
}
.dataset-hide-resource{
  @extend .dataset-view-info;
}
.dataset-hide-resource:hover{
  color: #FFFFFF;
}
.dataset-hide-resource:after{
  margin: 0 5px 0 5px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dataset-quantity{
  font-family: "Chalet-Sixty", "Avenir", "Helvetica, Arial", "sans-serif";
}

.info-adicional{
  margin-top: 20px;
  margin-left: 2px;
}

.dataset-additional-info-table.ng-scope.dataset-additional-info-table-active{
  width: 60%;
  // margin-left: 15px;
}

.dataset-item{
  background: #F1F1F1;
  border-bottom: none;
  margin-bottom: 28px;


}
.dataset-item-single{
  @extend .dataset-item;
  padding-bottom: 30px;
}

.dataset-single {
  border-bottom: none;
}
.dataset-single-tags-item.label{
  margin-bottom: 10px;
}
.dataset-single-tags-item.label:hover{
  background: #4D4D4D;
}

.dataset-single-tags{
  margin-top: 15px;
}
.dataset-single-tags-footer{
  padding: 0 15px  0 5px;
}
.div-table .table-responsive{
  border: none;
}
.dropdown-menu{
  min-width: 117px;
}

.dropdown-menu-filetype{
  @extend .dropdown-menu;
  min-width: 108px;
}

li.dataset-view-info.ng-scope.dataset-view-info-active{
  background: gray;
  color: white;
}

.fa-arrow-circle-o-down:before {
    color:$ba-skyblue;
    font-size: 20px;
    margin-right: 10px;
}

.fa-eye:before {
    font-size: 18px;
    position: absolute;
    right: 0px;
    top: -1px;
}

.filters{
  margin-left: 25px;
  // margin-left: 18px;
  margin-top: 20px;
}

.filters-menu {
  box-shadow: none
}
.autocomplete input:focus {
  border-color: #e5e5e5 !important;
  box-shadow: inset 0 1px 1px #e5e5e5, 0 0 8px #e5e5e5 !important;
}
.search-bar .input-group input:focus {
  border-color: #e5e5e5 !important;
  box-shadow: inset 0 1px 1px #e5e5e5,0 0 8px #e5e5e5 !important;
}

.form-control{
    background-color: #fff;
    height: 34px;
}

.footer-ba-logo{
  padding-top: 15px;
}
.footer-list{
  display: inline-block;
}
.footer-social-networks{
  margin-top: 3vh;
  text-align: left;
}
.footer-social-networks-icon span{
    width: 32px;
    height: 32px;
}

.home-top-line{
  display: none;
}
.img-responsive{
  height: 100%;
}

.lead{
  color: #3E4F5E;
  display: none;
  letter-spacing: 1px;
}

.list-dataset{
  // margin-top: 20px;
}

.list-heading{
  border: none;
  color: #3E4F5E;
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
  margin-bottom: 25px;
  padding: 0px;
}

.menu-footer{
  border-bottom: none;
  display: inline-block;
  padding: 0;
  margin-top: -10px;
  text-align: left;

}

.menu-footer a{
  display: block;
  font-size: 11px;
  margin-right: 0px;
}

.menu-footer a:first-child{
  margin-top: 20px;
}

.menu-footer a:before{
  display: none;
}

.menu-footer li {
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding-top: 10px;
}

.module-heading{
  border: none;
  color: white;
  font-size: 16px;
  height: 33px;
  margin: 3px 0px;
}

.module-heading-clear-icon {
    // background-image: url("../images/clear.svg");
    // background-size: 100%;
    // background-repeat: no-repeat;
    // background-position: center;
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    position: relative;
    left: 5px;
    top: 1px;
}

.module-footer{
  background: #F1F1F1;
  border: none;
}

.module-footer:hover{
  background: #FFFFFF;
}

.module .read-more{
  color: $ba-skyblue;
}
.nav-autocomplete{
  cursor: 'pointer';
}
.table-loader{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pagination{
  background: white;
}
.popular-datasets-list{
  background: #FFFFFF;
  border-radius: 10px;
  padding: 10px 5px;
}

.popular-datasets-list-item-bar {
  float: right;
  height:20px;
  margin: 0;
  width: 60%;
  -webkit-box-shadow: inset 0 -5px 5px -5px rgba(234,234,234,1);
     -moz-box-shadow: inset 0 -5px 5px -5px rgba(234,234,234,1);
          box-shadow: inset 0 -5px 5px -5px rgba(234,234,234,1);
}
.popular-dataset-list-porcentual{
  color: #CCC;
  font-size: 15px;
  float: right;
  margin: 15px 20px 10px -7px;
  text-align: right;

}

.resource-footer{
  // margin-bottom: 10px;
  margin-top: 18px;
}
.resource-resources-title{
  font-family: 'Chalet-Eighty';
  font-size: 15px;
  font-weight: 400;
  margin-top: 15px;

}
.resource-resources-description{
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.search-form{
  margin-right: 20px;
}

// .spinner {
//     width: 100% !important;
//     height: 100% !important;
// }
//
// .spinner:before {
//     background: url('../images/animacion-avatar.gif') center no-repeat;
//     background-color: rgba(255, 255, 255, 0.9);
//     top: -50%;
//     left: -50%;
//     border-radius: 5px;
//     width: 100%;
//     height: 100%;
//     position: relative;
//     display: block;
//     content: "";
//     background-size: 45em;
// }

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border-bottom-color: #F1F1F1;
}

.widgets-heading{
  margin-bottom: 40px;
}

.widget-title{
  display: inline-block;
  font-size: 23px;
  vertical-align: middle;
}

.widgets-first-row  .widgets-heading  .title-container-home{
  @extend .widget-title;
  color: $ba-skyblue;
  white-space:pre-line;
}

.widgets-second-row  .widgets-heading  .title-container-home{
  @extend .widget-title;
  color: #3E4F5E;
}

.widgets-second-row .widgets-heading .title-container-home.special{
  color: $ba-skyblue;

}


.widgets-second-row .popular-datasets-list-item-icon{
  height: 40px;
  margin-right: 0;
  margin-left: 6px;
  width: 40px;
  // width: 20px;
  -webkit-filter: none;
     -moz-filter: none;
       -o-filter: none;
      -ms-filter: none;
          filter: none;
}

.navbar-ba-logo{
  background-image: url("../images/ba-logo.svg");
  height:40px;
  left: 48%;
  position: absolute;
  transform:        translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform:  translateX(-50%);
    -o-transform:   translateX(-50%);
  top: 0px;
  width: 170px;

}

.nav-simple > li, .nav-aside > li{
  background: #F1F1F1;
  border: none;
}

.navbar-button, .navbar-button:hover, .navbar-button:active{
  color: gray;
}

.nav > li > a:hover{
  background-color: white;
  color: black;
}

.odin-branding{
  border-top: none;
  display: inline-block;
  float: right;
  margin: 20px 0 0 0;
  width: 140px;
}

.odin-branding-text{
  color: #FFFFFF;
}

.popular-list-item-description {
  font-size: 15px;
  margin: 15px 0 0 13px;
  width: 40px;
}

.popular-datasets-list-item-bar{
  margin-top: 15px;
  background: none;
  // width: 55%;
}

.resource-actions .dropdown-menu{
  border: none;
  margin-left: 10px;
  margin-top: 3px;
}

.resource-actions .dropdown-menu a{
  color: #3E4F5E;
}

.resource-actions .dropdown-menu a:hover{
  background-color: #fdd306;
  background-image: none;
  color: #5F4600;
}

.resource-actions {
    // display: inline-block;
    // display: inline;
    position: absolute;
    right: 5px;
    top: 3vh;
    margin-top: 10px;
    // float: right;
    // margin-top: 10px;
    // margin-left:20px;
    width: 216px;
}

.resource-format-label{
  margin-left: 0px;
  margin-right: 0px;
}
.resource-info{
  // display: inline;
}

.resource-tab{
  margin-bottom: 10px;
  margin-top: 30px;
}

ul.dataset-resources > li:first-child > span {
  // margin-left: 20px;
}

ul.unstyled{
  background-color: #ccc;
  display: inline;

}

[role=main] {
  background: white;
}

.secondary{
  padding: 0px;
}

.section-title {
    margin-top: 2em;
}

.search-bar{
  display: none;

}

.search-bar .input-group input {
    font-size: 15px;
    /* font-weight: 700; */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}

.search-bar .input-group input::-webkit-input-placeholder {
  color: $ba-skyblue;
}

.search-bar .input-group input:-moz-placeholder { /* Firefox 18- */
  color: $ba-skyblue;
}

.search-bar .input-group input::-moz-placeholder {  /* Firefox 19+ */
  color: $ba-skyblue;
}

.search-bar .input-group input:-ms-input-placeholder {
  color: $ba-skyblue;
}

.site-footer{
  background-color: #363636;
  padding: 20px;
  margin-top: 0;
}

.resource-tab li a{
  background: white;
  border-radius: 3px;
  color: #666666;
  margin-right: 8px;
  padding: 5px 25px;
  cursor: pointer;
  cursor: hand;
}

.resource-tab li a.active{
  background: #666666;
  color: white ;
  cursor: pointer;
}

.nav-item.active {
    background-color: white;
    color: black;
}

.text-auxiliar-bar:first-of-type{
  background-color: $ba-yellow;
  border-radius: 5px;
  color: #5F4600;
  display: block;
  font-size: 12px;
  line-height: 35px;
  margin: 56px 0px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;

  // margin: 0 auto;
  // width: 50%;
}


.text-auxiliar-bar:first-of-type a:before {
    background-image: url("../images/complete-catalog.svg");

}

.title-container-home {
    text-align: left;
}

.toolbar{
  display: none;
}

.twitter-follow-button{
  background-image: url("../images/seguinosentwt-blanco.svg");
  background-repeat: no-repeat;
  height: 50px;
  margin-top: 15px;
  width: 200px;
}

.twitter-follow-button-onclick{
  @extend .twitter-follow-button;
  background-image: url("../images/seguinosentwt-onclick.svg");
}
ul.unstyled{
  background: inherit;
  // margin: 3px 0px 0px 0px;
  // margin: 0px 10px;
  // padding: 10px 0px 7px 5px;
}

ul.unstyled-alt {
  background: inherit;
  border-bottom: none; }

.widget {
  border: none;
  border-radius: 20px; }

.widgets-heading {
  border-bottom: none;
  font-size: 30px;
  display: inline-block; }

.widgets-first-row img, .widgets-second-row img {
  margin-left: 15px;
  width: 40px; }

.widget:last-of-type > img {
  margin-bottom: 10px; }

.widget:last-of-type {
  padding-right: none; }

.widget-item-footer {
  border-bottom: none;
  padding: 10px 10px; }

.widget .widget-item {
  background-color: #FFFFFF; }

.widget-item-title {
  color: $ba-skyblue;
  padding: 0px !important;
  // padding-top: 20px;
  // padding-left: 10px;
}

.widget-item-title a {
  min-height: 30px; }

.widget-item-description {
  font-weight: 200;
  padding: 5px 10px; }


@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {

  .dataset-content { padding: 10px }

  .text-auxiliar-bar:first-of-type { font-size: 10px;}

  .dataset-additional-info-table.ng-scope.dataset-additional-info-table-active {
        width: 100%; }

  .dataset-download-button { margin-top: -23px;}

  .resource-tab { margin-top: 40px;}

  .resource-actions { right: inherit; top: inherit;}

  .popular-datasets-list { padding: 10px 12px; }

  .module .pagination { height: 60px }

  .widgets-heading { display: flex; }

  .widget-title {
    padding-left: 10px;
    font-size: 20px;
    padding: 10px; } }


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {

  .category-item:last-child .category-name {
    margin-left: 75px; }

  .dataset-additional-info { padding: 6px 10px; }

  .dataset-download-button {
    margin-top: -23px; }

  .dataset-content {
      position: relative;
      padding: 15px; }

  .dataset-additional-info-table.ng-scope.dataset-additional-info-table-active {
        width: 100%; }
  .dataset-resources li {
    margin-left: 4px; }
  .resource-actions { top: 6.8vh; }

  .module .pagination { height: 60px }

  .text-auxiliar-bar:first-of-type { font-size: 13px; }

  .widget-title {
    font-size: 21px;
    padding-top: 12px;
    vertical-align: baseline; } }


/* -----------  Iphone5 fixes ----------- */
@media (max-width: $min-iph5-portrait) and (max-height: $max-iph5-portrait)  {
  .branding-data .description-header h1 {
    // margin-left: -15px;
  }
  // .category-box{
  //   margin: 2px 2px;
  //   width: 91px;
  // }
  .categories-item-title {
    font-size: 10px; }

  .dataset-resources li {
    margin-left: 4px; }
  .text-auxiliar-bar:first-of-type {
    width: 100%; }
  .popular-list-item-description {
    width: 0px;
    font-size: 10px; }

  .toolbar  {
    float: left;
    font-size: 20px;
    line-height: 1.3;
    // margin: 0px;
    margin-left: 15px;
    padding: 0; }

  .resource-tab li a { margin-right: 8px; padding: 4px 25px; margin-top: 10px; }

  .widget > h2 {
    font-size: 18px; }

  .menu-footer li {
    font-size: 7px; }

  .menu-footer a:before {
    width: 13px;
    top: 5px; } }
/* ----------- End Iphone Fixes --------- */

@media (min-device-width: 768px){
  [role=main], .main{
    padding-bottom: 40px;
  }

  .auxiliar-bar-line{
    border-bottom: none;
  }

  .branding-data .description-header h1{
    margin-left: 15px;
  }

  .ba-logo-mobile{
    right: -8%;
  }

  .branding-data{
    margin-top: -30px;
  }

  .breadcrumb{
    background: white;
    display: inline-block;
    padding: 8px 15px;
    margin-left: 10px;
  }

  .category-box {
    background-color: #19c3e3;
    border-radius: 3px;
    padding-top: 15px;
    margin: 15px;
    margin: 15px 15px 15px 15px;
    height: 125px;

  }

  .categories-container{
    padding-left: 0px;
  }

  .categories-item {
      height: 60px;
      margin-bottom: 0px;
      margin-top: 3px;
      // margin-left: 15px;
      text-align: center;
  }
  .categories-item-title{
    font-size: 14px;
    margin-top: 10px;
  }
  .categories-home {
    color: #999;

  }
  .categories-row-item{
      margin: 10px;
      width: 75px;
  }

  .container-dataset{
    padding: 0px 15px 15px 0px;
  }

  .dataset-button{
    font-size: 12px;
    padding: 5px;
  }


  .dataset-additional-info{
    display: inline;
    padding: 10px 15px 10px 10px;

  }
  .dropdown.view-resources{
    margin-right: 0;
  }
  .dataset-view-info{
    margin-left: 10px;
    padding-left: 15px;
  }
  .dataset-hide-resource{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }

  .datasets-counter p{
    color: #3E4F5E;
    font-size: 18px;
    //float: right;
  }

  .dataset-counter-text {
    margin-top: 23px;
  }

  .dataset-counter-container svg{
    margin-top: 5px;
  }

  .dataset-counter-container{
    width: 150px;
    float: right;
    // padding-right: 10px;
  }

  .dataset-download-info{
    top: 160px;
  }

  .dataset-download-button:after{
    content: "\f0d7";
  }

  .dataset-download-button-alt:after{
    content: none;

  }
  .dataset-view-info:hover, .dataset-download-button-alt:hover, .dataset-download-button:hover, .dataset-guide-data:hover {
    opacity: 0.7;
  }

  .dataset-heading{
    display: inline-block;
  }

  .dataset-content > span{
    display: block;
  }
  .dataset-content .dataset-latest-update{
    color: #999;
    font-size: 11px;
    margin-top: -8px;
    margin-bottom: 10px;
  }
  .dataset-latest-update-special{
    font-size: 12px;
    float: right;
    margin-top: 15px;
  }
  .dataset-quantity{
    display: inline;
    font-family: 'Chalet-Eighty';
    font-size: 48px !important;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 23px;
  }

  .dataset-item:last-of-type{
    border-bottom: none;
    // padding-bottom: 30px;
  }

  .datasets-counter{
    display: inline-block;
    float: right;
    margin-right: 8px;
    width: 200px;
  }

  .dataset-item{
    background: #F1F1F1;
    border-bottom: none;
    margin-bottom: 28px;
    // padding-bottom: 15px;
  }

  .dataset-resources-heading{
    margin-bottom: 10px;
    margin-top: -5px;
  }

  .dataset-resources-heading img{
    margin-bottom: 8px;
    vertical-align: middle;
    width: 29px;
  }
  .dataset-resources.unstyled{
    // margin-bottom: 20px;
    margin-top: 15px;
  }
  .dataset-single-tags{
    margin-top: 0px;
    display: inline;
  }
  .dataset-single-tags-footer{
    padding: 0px 15px 15px 20px;
    // margin-top: -20px;
  }
  .footer-list{
    position: absolute;
    top: 5%;
    right: 10%;
  }
  .footer-social-networks{
    display: inline-block;
    float: left;
  }
  .footer-social-networks-icon span{
    margin-right: 20px;
  }
  .footer-text{
    margin-left: 5px;
  }
  .footer-text strong, small{
    display: block
  }

  .home-top-line{
    background-color: $ba-yellow;
    display: block;
    padding: 3px;
    width: 99.5%;
  }


  ul.info-adicional{
    // margin-top: 0px;
    display: inline;
  }

  .list-heading {
    display: inline;
    font-size: 30px;
  }

  .menu-footer{
    margin-bottom: 25px;
  }

  .menu-footer a{
    display: inline-block;
  }
  .menu-footer a:before{
    display: inline-block;
    float: left;
    margin-top: 3px;
  }
  .menu-footer-item-specifications:before{
    background: url("../images/especificaciones-01.svg");
  }
  .menu-footer-item-terms-and-conditions:before{
    background: url("../images/terminos-01.svg");
  }

  .menu-footer-item-contact:before{
    background: url("../images/contacto-01.svg");
  }
  .menu-footer li{
    display: block;
  }
  .odin-branding{
    float: left;
    margin: 0;
    margin-left: 5vw;
    margin-top: 3.2vh;
  }

  .popular-list-item-description{
    font-size: 16px;
    margin:5px 9px 0 40px;
    width: 40px;
  }
  .popular-datasets-list-item-bar{
    float: right;
    height:20px;
    margin-top: 5px;
    width: 65%;
  }
  .popular-dataset-list-porcentual{
    margin: 3px -7px 0 -12px;
  }
  .resource-actions {
    // float: right;
    width: 250px;
    position: absolute;
    top: 25px;
    margin-top: 0;
  }

  .resources-footer-buttons{
    padding-bottom: 20px;
  }
  .resource-info{
    display: inline;
    // position: absolute;
    top: 0px;
    // width: 60%;
  }


  .search-form{
    margin-left: 15px;
  }

  .search-bar-home{
    background: white;
    display: block;
  }

  .site-footer{
    padding: 20px 0;
  }
  .text-auxiliar-bar:first-of-type{
    font-size: 14px;
  }
  .thumbnail-dataset-icons{
    position: absolute;
    top: 180px;
    width: 80%;
  }


  .toolbar{
    display: block;
  }
  .widget-title{
    margin-left: 20px;
    font-size: 30px;
  }
  .widgets-first-row img, .widgets-second-row img{
    margin-left: 0;
    width: 70px;
  }

  .widgets-first-row .title-container-home{
    width: 30%;
  }

  .widgets-second-row .widgets-heading .title-container-home.special{
    max-width: 43%;
  }

  .widget-item {
    margin-bottom: 5px;
    // word-break: break-all;
    height: 200px;
    // margin-top: 10px;
  }

  .widget:last-of-type > img{
    margin-bottom: 10px;
  }

  .widget-item-footer{
    margin-bottom: 10px;
  }


  .widget-item-footer-download-link{
    // margin-left: -30px;
  }

  .widget-item-footer-tags{
    font-size: 10px;
    padding: 2px 2px;
  }

  .download-link {
      color: #5F4600;

  }

  .widgets-second-row .popular-datasets-list-item-icon{
    margin: -4px 20px 0 20px;
  }

  ul.unstyled{
    display: inline
  }

  .unstyled .nav .nav-simple .nav-facet{
    background: #F1F1F1;
  }

  .unstyled .nav .nav-simple .nav-facet:hover{
    background: white;
  }

  .container-data {
        margin-left: 15px;
  }
}

@media only screen and (min-width : $max-phone-portrait) {
  .ba-logo-mobile{
    height: 50px;
    width: 100px;
    // right: 30px;
    top: 25px;
    // width: 90px;
  }

  .base-text-logo{
    display: none;
    // font-size: 9px;
    // right: 0%;
  }

  .branding-data .description-header h1 {

    margin-top: 20px;

  }

  .branding-data{
    margin-top: 0px;
  }

  .container-widget-wide{
    background-color: #E5E5E5;
  }

  .dataset-single{
    margin-left: 15px;
  }
  .description-header{
    padding-bottom: 10px;
    // margin-left: 15px;
  }

  .footer-social-networks{
    display: block;
  }

  .input-group{
    // margin: 15px;
  }

  .row.wrapper{
    margin-left: -5px;
  }

  .lead{
    display: block;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.4;
    margin-left: 17px;
  }

  .navbar-theme{
    display: none;
  }

}

@media (min-device-height:768px) and (max-device-width:1024px) and (orientation:portrait){
  .ba-logo-mobile {
  right:1%;
  }

  .row.wrapper {
  margin:0;
  }
  .dataset-download-button-alt {
  margin-top: -20px;}

  .toolbar {
  margin-right:20px;
  }

  .widget-item {
  height:220px;
  }
}


@media (min-device-width: 1024px){
  .ba-logo-mobile {
  right:2%;
  }

  .dataset-list.unstyled {
  // margin-right:-15px;
  }

  .dataset-content {
  padding:10px 0 20px 10px;
  }

  .results.wrapper {
  margin:0;
  }

  .container-data {
      right: 2%;
  }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape){
  .ba-logo-mobile {
    right:0;
  }

  .categories-sidebar {
    overflow:hidden;
  }

  .description-header {
    margin-top:30px;
    margin-left:10px;
  }

  .navbar-theme {
    display:block;
  }

  .resource-footer {
    margin-left:-25px;
  }

  .row.wrapper {
    margin-left:0;
  }

  .breadcrumb,.disqus-section {
    margin-left:15px;
  }

  .unstyled,.pagination {
    margin-left:20px;
  }
}
