body{
  background-color: #F6F6F6
}
input[type="email"],
input[type="text"] {
    height: auto;

}
h1, h2, h3, h4 {
    line-height: 1.1;

}
h2, h3, h4{
  // font-family: "Chalet New York Nineteen Eighty";
}
hr{
  height: 1px;
  margin: 0 auto;
  width: 50%;
}
.auxiliar-bar {
    border-bottom: none;
    margin-top: 30px;
}

.auxiliar-bar-line{
  margin-bottom: 40px;
}

.ba-logo-mobile{
  background-image: url("../images/BAlogoHeaderMobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 60px;
  position: absolute;
  right: 4%;
  top: 15%;
}

.base-text-logo{
  color: black;
  font-size: 6px;
  position: absolute;
  right: 3%;
  top: 85%;

}

.branding-data{
  background-color: #FFFFFF;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  // margin-bottom: 15px;
  /* padding-bottom: 10px; */

}

.branding-data:after{
  background: none;

}

.branding-data .container{
  margin-top: 5px;
  background: none;

}

.category-box {
    background-color: #19c3e3;
    border-radius: 3px;
    height: 90px;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;

}

.category-box:hover{
  background-color: $ba-yellow;

}

.categories-container{
  background: white;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 5px;
}

.category-grid{
  background: white;
}

.categories-grid-item{
  margin: 0px;
}

.category-image svg{
  height: 50px;
  width: 50px;

}

.categories-item-title, .categories-item-title:hover{
  color: #FFFFFF !important;
  font-size: 10px;
  margin: 0px 0px;
  width: 100%;
}

.categories-item{
  height: 60px;
  margin-bottom: 0px;
  margin-top: 3px;
  margin-left: 0px;
  text-align: center;
}

.container-dataset > .thumbnail{
  border: none;
}

.categories-item .category-image{
  margin-bottom: 0px;
  margin-top: 5px;
}

.categories-row-container {
  height: auto;
}

.container-widget-wide{
  // padding-top: 20px;
}

.container-widgets .widgets-first-row .widget, .widgets-second-row .widget{
    // padding-left: 0px;
    // padding-right: 0px;

}

.container-widget-wide .container{
  // padding-left: 0px;
  // padding-right: 0px;
}

.container-search-bar{
  background-color: white;
}

.dataset-additional-info:active{
  .icon-download{
    padding-bottom: 40px;
  }
}

.dataset-hide-resource:hover, .dataset-hide-resource:hover:after,
.dataset-additional-info:hover, .dataset-additional-info:hover:after{
  color: inherit;

}

.dataset-category-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 100%;
    // margin-left: -5px;
    margin-right: 0px;
}

.dataset-content{
  // background-color: inherit;
  // border-radius: 3px;
  // box-shadow: 0px 0px 10px #888888;
  margin: 10px 10px 0px 10px;

}

.dataset-heading {
    font-weight: 400;
}

.dataset-heading a{
  color:#3E4F5E;
  font-size: 24px;
  font-family: "Chalet-Eighty", "Avenir", Helvetica, Arial, sans-serif;
}

.dataset-latest-update-alt{
  color: #606060;
}

.dataset-heading-alt a{
  color: #606060;
}

.description-header{
  padding-top: 5px;
  position: relative;


}

.dataset-item:last-of-type{
  border-bottom: none;
  padding-bottom: 15px;
  margin-bottom: 0px;
}

.dataset-resources .unstyled{
  margin-left: 20px;
}

.dataset-resources .unstyled li{
  background-color: white;
}

.dataset-additional-info{
  color:#4D4D4D;
  background: white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px 15px 10px 10px;
}

.dataset-additional-info:hover{
  color: #4D4D4D;
}

.dataset-additional-info-table{
  background: white;
  margin-top: 20px;
}

// .dataset-additional-info-table-active {
//     // overflow-y: hidden;
//     // max-height: 500px;
//     // margin-left: 20px;
//     // margin-top: 20px;
//     // width: 308px;
// }

.dataset-additional-info-table th {
    color: #4d4d4d;
    background: white;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-right: none;
    font-weight: 700;
    font-size: 12px;
    padding: 3px 7px 2px 7px;

}

.dataset-additional-info-table th:last-of-type {
    border-right: none;
}

.dataset-additional-info-table td {
    color: #4d4d4d;
    font-size: 12px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #999999;
  }

.dataset-additional-info-table td, .dataset-additional-info-table th {
    padding: 2px 7px 1px 7px;
    width: 15vw;
}

.dataset-description{
  margin-bottom: 15px;
}

li.dataset-additional-info.ng-scope.dataset-additional-info-active{
  background: gray;
  color: white;
}

// .dataset-additional-info:after {
//     // font-family: none;
//     // content: none;
//     // display: inline-block;
//     // position: relative;
//     // left: 5px;
//     // -webkit-transform: rotate(90deg);
//     // -moz-transform: rotate(90deg);
//     // -o-transform: rotate(90deg);
//     // -ms-transform: rotate(90deg);
//     // transform: rotate(90deg);
//     margin-top: 10px;
//     width: 35%;
// }

// .dataset-resources li{
//   width: 35%;
//   margin-top: 10px;
//   display: block;
// }
.info-adicional{
  margin-top: 20px;
}
.dataset-additional-info-table.ng-scope.dataset-additional-info-table-active{
  width: 89%;
  margin-left: 15px;
}
.dataset-item{
  background: #F1F1F1;
  border-bottom: none;
  margin-bottom: 28px;
  padding-bottom: 30px;

}

.dataset-single {
  border-bottom: none;
}

.dataset-single-tags{
  margin-top: 15px;
}

// .dataset-hide-resource, .dataset-additional-info{
//   color:$ba-skyblue;
//   font-weight: 400;
// }

.fa-arrow-circle-o-down:before {
    color:$ba-skyblue;
    font-size: 20px;
    margin-right: 10px;
}

.fa-eye:before {
    font-size: 18px;
    position: absolute;
    right: 0px;
    top: -1px;
}

.filters{
  margin-left: 20px;
  margin-top: 20px;
}

.footer-social-networks{
  display: none;
}

.icon-download{
  // left: 160px;
  // position: absolute;
  // top: 1px;
}

.lead{
  display: none;
  letter-spacing: 1px;
}

.list-dataset{
  margin-top: 20px;
}

.menu-footer{
  padding: 0px;
}

.menu-footer a{
  font-size: 9px;
  margin-right: 0px;
}

.menu-footer a:before{
  color: black;
  margin: 0px 2px;
}

.menu-footer-item-specifications:before{
  background: url("../images/especificaciones-01.svg");
}

.menu-footer-item-terms-and-conditions:before{
  background: url("../images/terminos-01.svg");
}

.menu-footer-item-contact:before{
  background: url("../images/contacto-01.svg");

}

.module-heading{
  background: #C2F13A;
  color: black;
  font-size: 16px;
  height: 33px;
  margin: 1px 0px;
}

.module-narrow .module-footer:last-of-type:hover{
  background: white;
}

.navbar-ba-logo{
  background-image: url("../images/ba-logo.svg");
  height:40px;
  left: 48%;
  position: absolute;
  transform:        translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform:  translateX(-50%);
    -o-transform:   translateX(-50%);
  top: 0px;
  width: 170px;

}

.nav-simple > li, .nav-aside > li{
  background: #F1F1F1;
}

.module-heading{
  border: none;
}

.navbar-button, .navbar-button:hover, .navbar-button:active{
  color: gray;
}

.nav-simple > li, .nav-aside > li{
  border: none;
}

.nav > li > a:hover{
  background-color: white;
  color: black;
}

.odin-branding{
  padding-top: 10px;
  margin: 0 auto;
}

.odin-branding-text{
  color: gray;
}

.resource-footer{
  padding: 10px 0px 10px 20px;
}

.resource-format-label{
  margin-left: 5px;
  margin-right: 0px;
}

ul.dataset-resources > li:first-child > span {
  // margin-left: 20px;
}

ul.unstyled{
  display: inline;
}

[role=main] {
  background: white;
}

.secondary{
  padding: 0px;
}

.section-title {
    margin-top: 2em;
}

.search-bar{
  display: none;

}

.search-bar .input-group input {
    font-size: 15px;
    /* font-weight: 700; */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}

.search-bar .input-group input::-webkit-input-placeholder {
  color: $ba-skyblue;
}

.search-bar .input-group input:-moz-placeholder { /* Firefox 18- */
  color: $ba-skyblue;
}

.search-bar .input-group input::-moz-placeholder {  /* Firefox 19+ */
  color: $ba-skyblue;
}

.search-bar .input-group input:-ms-input-placeholder {
  color: $ba-skyblue;
}

.site-footer{
  color: black;
  background-color: white;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}

.text-auxiliar-bar{
  background-color: $ba-yellow;
}

.text-auxiliar-bar:first-of-type{
  border-radius: 5px;
  margin: 56px 0px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
  // margin: 0 auto;
  // width: 50%;
}

.text-auxiliar-bar:first-of-type a{
  color: #5F4600;
  font-size: 13px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
}

.text-auxiliar-bar:first-of-type a:before {
    background-image: url("../images/complete-catalog.svg");

}

.title-container-home {
    text-align: left;
}

.toolbar{
  display: none;
}

ul.unstyled{
  background: inherit;
  // margin: 3px 0px 0px 0px;
  // margin: 0px 10px;
  // padding: 10px 0px 7px 5px;
}

ul.unstyled-alt{
  background: inherit;
  border-bottom: none;
}

.widget{
  border: none;
  border-radius: 20px;
  // padding-right: 0px;
}

.widget > h2 {
  border-bottom: none;
  color: $ba-skyblue;
  font-size: 23px;
  line-height: 50px;
  display: inline-block;
  margin-bottom: 21px;
}

.widget:first-child{
  margin-top: 0px;
}

.widgets-first-row img, .widgets-second-row img{
  height: 50px;
  width: 50px;
  // margin-left: 14px;
}

.widget:last-of-type > img{
  margin-bottom: 10px;
}

.widget:last-of-type{
  padding-right: none;
}

.widget-item-footer{
  border-bottom: none;
  padding: 10px 10px;
}

.widget .widget-item{
  background-color: #FFFFFF;
}

.widget-item-title {
  color: $ba-skyblue;
  padding: 0px !important;
  // padding-top: 20px;
  // padding-left: 10px;
}

.widget-item-title a{
  min-height: 30px;
}

.widget-item-description{
  font-weight: 200;
  padding: 5px 10px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .categories-container{
      // padding-left: 15px;

    }
}

/* -----------  Iphone5 fixes ----------- */
@media (max-width: $min-iph5-portrait) and (max-height: $max-iph5-portrait)  {
  .branding-data .description-header h1 {
    // margin-left: -15px;
  }
  .branding-data{

  }
  // .category-box{
  //   margin: 2px 2px;
  //   width: 91px;
  // }

  .text-auxiliar-bar:first-of-type {
    width: 100%;
  }

  .toolbar  {
    float: left;
    font-size: 20px;
    line-height: 1.3;
    // margin: 0px;
    margin-left: 15px;
    padding: 0;

  }

  .widget > h2 {
    font-size: 21px;
  }
  .menu-footer li{
    font-size: 7px;
  }
  .menu-footer a:before {
    width: 13px;
    top: 5px;
  }
}
/* ----------- End Iphone Fixes --------- */

@media (min-device-width: 768px){
  .auxiliar-bar-line{
    border-bottom: none;
  }

  .branding-data .description-header h1{
    margin-left: 15px;
  }
  .ba-logo-mobile{
    right: -8%;
  }

  .branding-data{
    margin-top: -30px;
  }


  .breadcrumb{
    background: white;
    display: inline-block;
    padding: 8px 15px;
    margin-left: 10px;
  }


  .category-box {
      background-color: #19c3e3;
      border-radius: 3px;
      padding-top: 15px;
      margin: 15px;
      margin: 15px 15px 15px 15px;
      height: 125px;

  }
  .categories-container{
    padding-left: 0px;
  }

  .categories-item {
      height: 60px;
      margin-bottom: 0px;
      margin-top: 3px;
      // margin-left: 15px;
      text-align: center;
  }

  .categories-row-item{
      margin: 10px;
  }

  .container-dataset{
    padding: 0px 15px 15px 0px;
  }

  .dataset-additional-info{
    padding: 10px 20px 10px 10px;
  }

  // .dataset-additional-info-table-active {
  //     // overflow-y: hidden;
  //     // max-height: 500px;
  //     // margin-left: 20px;
  //     // margin-top: 20px;
  // }

  .dataset-item:last-of-type{
    border-bottom: none;
    padding-bottom: 30px;
  }
  .datasets-counter{
    display: inline-block;
    float: right;
    margin-right: 20px;
  }
  .dataset-item{
    background: #F1F1F1;
    border-bottom: none;
    margin-bottom: 28px;
  }

  .dataset-single-tags{
    margin-top: 0px;
    display: inline;
  }

  .icon-download{
    left: 180px;
    position: absolute;
    top: 1px;
  }

  .search-form{
    margin-left: 15px;
  }
  .search-bar-home{
    background: white;
    display: block;
  }

  .social-networks{
    padding-right: 0px;
    margin-left: 15px;
  }

  .thumbnail-dataset-icons{
    position: absolute;
    top: 180px;
  }


  .toolbar{
    display: block;
  }
  .widgets-first-row img, .widgets-second-row img{
    margin-left: 0px;
  }

  .widget> h2 {
    font-size: 23px;
    display: inline-block;
    margin: 0px 15px 51px 5px;
    text-align: left;
  }
  .widget-item {
    margin-bottom: 5px;
    // word-break: break-all;
    height: 200px;
    // margin-top: 10px;
  }
  .widget:last-of-type > img{
    margin-bottom: 0px;
  }
  .widget-item-footer{
    margin-bottom: 10px;
  }
  .widget-item-footer-download-link{
    margin-left: -10px;
  }

  ul.unstyled{
    display: inline
  }
  .unstyled .nav .nav-simple .nav-facet{
    background: #F1F1F1;
  }
  .unstyled .nav .nav-simple .nav-facet:hover{
    background: white;
  }


}

@media (min-device-height: 768px) and (max-device-width: 1024px) and (orientation : portrait){
  .widget-item{
    height: 220px;
  }
}

@media only screen and (min-width : $max-phone-portrait) {
  .ba-logo-mobile{
    height: 50px;
    width: 100px;
    // right: 30px;
    top: 25px;
    // width: 90px;
  }

  .base-text-logo{
    display: none;
    // font-size: 9px;
    // right: 0%;
  }

  .branding-data .description-header h1 {

    margin-top: 20px;

  }

  .branding-data{
    margin-top: 0px;
  }

  .container-widget-wide{
    background-color: #E5E5E5;
  }

  .dataset-single{
    margin-left: 15px;
  }
  .description-header{
    padding-bottom: 10px;
    // margin-left: 15px;
  }

  .footer-social-networks{
    display: block;
  }

  .input-group{
    // margin: 15px;
  }

  .row.wrapper{
    margin-left: -5px;
  }

  .lead{
    color: black;
    display: block;
    font-size: 15px;
    font-weight: 800;
    line-height: 1.4;
    margin-left: 20px;
  }



  .navbar-theme{
    display: none;
  }

}

@media (min-device-width: 1024px){
  .ba-logo-mobile{
    right: 2%;
  }

  .dataset-list.unstyled{
    // margin-right: -15px;
  }

  .dataset-content{
    padding: 10px 0px 10px 10px;
  }
  .results.wrapper{
    margin: 0px;
  }
}
