.iframeDiv {
  width: 100%;
  height: 350px;
}

.resource-format-label{
  margin-right: 5px;
}

.div-table{
    height: 400px;
}

.div-table .table-responsive{
    overflow: scroll;
    height: 300px;
}

.div-table .paging{
    text-align: center;
}

.pagination > .active > a{
    background-color: #19c3e3;
    border-color: #19c3e3;
}

.pagination > li > a{
    color: #19c3e3;
}

.pagination > .active > a:focus, .pagination > .active > a:hover{
    background-color: #fdd306;
    border-color: #fdd306;
}

.widget-item-footer-preview-link.active {
  color: #FF386a;
}

.widget-item-download-link {
  float: right;
  margin-top: 1px;
}

.dropdown.view-resources {
  margin-right: 10px;
}

/*.resource-actions {
  width: 200px;
  // text-align: right;
}*/

.resource-actions .dropdown {
  display: inline-block;
}

.resource-actions .dropdown .widget-item-footer-link {
  display: block;
  float: none;
}

.resource-actions .dropdown-menu {
  border: 1px black solid;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.resource-actions .dropdown-menu a {
  font-weight: bold;
  padding: 3px 8px;
}

.resource-actions .dropdown-menu a:hover {
  background-color: #FFb600;
  background-image: none;
  color: white;
  margin-left: -1px;
  margin-right: -1px;
}

.resource-actions .dropdown-menu a:first-child:hover {
  margin-top: -1px;
  padding-top: 4px;
}

.resource-actions .dropdown-menu a:last-child:hover {
  margin-bottom: -1px;
  padding-bottom: 4px;
}
