body {
    font-family: "Avenir", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.navbar-site-logo {
    color: black;
}

.navbar-theme {
    background: linear-gradient(to right, #FFBC00 0%, #FFD300 100%);
}

.datasets-counter {
    color: rgba(32, 149, 242, 0.8);
}

.branding-data {
    color: #FFFFFF;
    background-color: rgba(32, 149, 242, 0.8);
}

.branding-data:after {
    background: linear-gradient(to right, #FFBC00 0%, #FFD300 100%);
}

.search-bar h3 {
    color: #FFB600;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.categories-item-title {
    color: #FFb600;
    font-weight: 500;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.categories-item {
    @include svg-color(#FFb600);
}

.navbar-button.navbar-search-button.active {
    color: rgba(32, 149, 242, 0.8);
}

.filter-group {
  .filter-icon, .filter-name {
    color: rgba(32, 149, 242, 0.8);
  }
  .filter-options {
    .filter-option{
      &.active {
        color: #FFb600;
      }
    }
    .show-more, .show-less {
      color: rgba(32, 149, 242, 0.8);
    }
  }
}

.categories-item.active, .categories-item:hover {
    @include svg-color(rgba(32, 149, 242, 0.8));
}

.categories-sidebar {
    .category-item .category-icon {
        background-color: rgba(32, 149, 242, 0.8);
    }
}

.widget-item-footer-link.active path:not(.back) {
    fill: rgba(32, 149, 242, 0.8);
    stroke: rgba(32, 149, 242, 0.8);
}

.categories-item.active h4 {
    color: rgba(32, 149, 242, 0.8);
}

.categories-item:hover h4 {
    color: rgba(32, 149, 242, 0.8);
}

.text-auxiliar-bar {
    font-weight: 500;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.auxiliar-bar li:hover {
    color: rgba(32, 149, 242, 0.8);
}

.widget> h2 {
    color: rgba(32, 149, 242, 0.8);
    font-weight: 500;
}

.widget-item-footer-download-link {
    background-image: url("../images/download-ba.svg");
}

.popular-datasets-list-item-bar {
    background: linear-gradient(to right, #FEEA3A 0%, #FEEA3A 80%, #B3B3B3 80%, #B3B3B3 100%);
    color: #FEEA3A;
}

[data-tooltip]:hover:after {
    background: #FEEA3A;
    color: black;
}

.module-heading {
    background-color: rgba(32, 149, 242, 0.8);
}

.dataset-additional-info-active {
    color: rgba(32, 149, 242, 0.8);
}

.dataset-additional-info:hover,
.dataset-additional-info:hover:after {
    color: rgba(32, 149, 242, 0.8);
}

.dataset-statistics {
    color: rgba(32, 149, 242, 0.8);
}

.dataset-content .dataset-latest-update {
    color: rgba(32, 149, 242, 0.8);
}

.module .read-more {
    color: rgba(32, 149, 242, 0.8);
}

.categories-item {
    color: #FABF2C;
}

.text-auxiliar-bar:first-of-type a:before {
    background-image: url('../images/complete-catalog.svg');
}

.text-auxiliar-bar:hover:first-of-type a:before {
    background-image: url('../images/complete-catalog.svg');
}

.text-auxiliar-bar:last-of-type a:before {
    background-image: url('../images/viz-collection.svg');
}

.text-auxiliar-bar:hover:last-of-type a:before {
    background-image: url('../images/viz-collection.svg');
}

/* FONTS */

h1,
h2,
h3,
h4,
h5,
h6 .panel-title,
.btn,
.input-xl,
.navbar-brand,
h2.slogan {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.branding-data h1 {
    font-weight: 600;
}

.widget-item-title {
    font-weight: 600;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.branding-data .lead {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.title-container-home {
    font-weight: 500 !important;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.widget-item-footer-tags {
    font-weight: 500;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.popular-datasets-list-item-count {
    font-weight: 600;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.menu-footer a {
    font-weight: 700;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.odin-branding-text {
    font-weight: 700;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}