@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Chalet-Sixty';
    src: url('../fonts/ChaletNewYorkNineteenSixty.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Chalet-Eighty';
    src: url('../fonts/ChaletNewYorkNineteenEighty.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans.regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}