// Colors
$primary-color: #FF386a;
$secondary-color: #FFb600;
$light-gray: #DFEDF2;
$light-green:#99C25F;

/* ---------------------------------------- */
//Brand colors
$ba-skyblue: #19c3e3;
$ba-yellow: #fdd306;

/* ---------------------------------------- */

// Breakpoints for media queries
$max-tablet-landscape: 1025px;
$max-tablet-portrait: 992px;
$max-phone-landscape: 768px;
$max-phone-portrait: 480px;
$min-phone-portrait: 320px;

// Breakpoints specifics
$min-iph5-portrait: 320px;
$max-iph5-portrait: 588px;

// Dimensions
$navbar-height-desktop: 30px;
$navbar-height-mobile: 40px;
