/*FONTS*/

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham.woff') format('woff'), url('../fonts/gotham.ttf') format('truetype'), url('../fonts/gotham.svg#Gotham') format('svg');
  font-weight: normal;
  font-style: normal;
}


/********/

body {
  color: #333333;
  font-family: "Open Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  background-color: #FFF;
  background-image: none;
}

input {
  font-family: "Open Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 .panel-title,
.btn,
.input-xl,
.navbar-brand,
h2.slogan {
  color: inherit;
  font-family: "Gotham", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 10px 0;
  text-rendering: optimizelegibility;
}

h1 {
  line-height: 32px;
}

a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
  color: #215093;
}

a:active,
a:hover {
  outline: 0 none;
}


/****BUTTONS****/

.btn,
.btn:hover {
  font-family: "Gotham", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-shadow: none;
}

.btn-primary {
  background: #9bc12b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffbc00 0%, #ffd300 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffbc00 0%, #ffd300 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffbc00 0%, #ffd300 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffbc00', endColorstr='#ffd300', GradientType=0);
  /* IE6-9 */
  border-color: #d7a721;
  color: #5f4600;
}

.btn-primary:hover {
  background-color: #edaf00;
  color: #5f4600;
  background-image: none;
}

.btn-danger {
  background: -moz-linear-gradient(top, #ba2727 0%, #d13f34 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ba2727 0%, #d13f34 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ba2727 0%, #d13f34 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ba2727', endColorstr='#d13f34', GradientType=0);
  /* IE6-9 */
  border-color: #932b2b;
  color: #FFF;
}

.btn-danger:hover {
  background-color: #ad2424;
  background-image: none;
  color: #FFF;
}

.btn-success {
  background: #6eaa2e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6eaa2e 0%, #9bc12b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6eaa2e 0%, #9bc12b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6eaa2e 0%, #9bc12b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6eaa2e', endColorstr='#9bc12b', GradientType=0);
  /* IE6-9 */
  border-color: #679239;
  color: #FFF;
}

.btn-success:hover {
  background-color: #669e2b;
  color: #FFF;
  background-image: none;
}


/****NAV****/

.navbar-theme {
  height: 30px;
  padding: 10px 0;
  overflow: visible;
  background: #FFC107;
}

.header-tag {
  position: absolute;
  z-index: 1050;
  right: 0;
}

.breadcrumb-header li {
  float: left;
  font-size: 10px;
}

.breadcrumb-header a:after {
  content: ">";
  height: 10px;
  width: 10px;
  margin-left: 5px;
  margin-right: 5px
}

.breadcrumb-header a:after:hover {
  text-decoration: none
}

.link-header-data li a:after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px
}

.last-item:after {
  content: " ";
  display: none
}

li a.last-item {
  color: #A2A2A2
}

.breadcrumb-header a {
  color: black;
  font-weight: bolder;
}

ul {
  list-style: none;
  margin-left: 5px;
}

.gcba-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

.header-inner {
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-theme #logo {
  float: left;
  height: 30px;
  width: 170px;
  background: url(../images/bac-header.svg);
  text-indent: -100%;
}

.navbar-theme #logo-slogan {
  float: right;
  height: 30px;
  width: 50px;
  text-indent: -100%;
  background: url(images/ba-btn.svg);
  background-repeat: no-repeat;
  margin-right: 6px;
}

.navbar-theme h2.slogan {
  float: right;
  position: relative;
  top: -4px;
  font-size: 14px;
  color: #292202;
  text-rendering: geometricPrecision;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

ul {
  margin: 0px;
  padding: 0px;
}

.navbar-fixed-top {
  top: 0px;
}

.branding-data {
  color: white;
  background-color: #00BCD4;
  border-top: solid white;
  border-width: 4px 0px 8px 0px;
  margin-top: 50px;
  display: block;
  overflow: hidden;
}

.branding-data:after {
  content: "";
  height: 5px;
  background: linear-gradient(to right, #FFC107 0%, yellow 70%, #00BCD4 100%);
  display: block;
  margin-top: 10px;
}

.title-home-count h4 {
  color: #474B7E;
  text-align: center;
  margin: 0
}

.title-home-count {
  margin-top: 40px;
}

.link-header-data li {
  float: left;
}

.search-home {
  padding-right: 0px;
  padding-left: 0px
}

.link-header-data li a {
  color: #5D677B;
  font-size: 13px;
  font-weight: 600;
}

.search-form .search-input button {
  margin-top: -15px;
  left: 15px;
  height: 30px;
}

.title-shortcut {
  color: #6D6D6D;
  font-size: 13px;
  width: 100px;
  margin: auto;
}

.rojo {
  background-color: #B53E39
}

.naranja {
  background-color: #E79333
}

.amarillo {
  background-color: #F6D02C
}

.verde {
  background-color: #A4BE3F
}

.celeste {
  background-color: #71B3AF
}

.azul {
  background-color: #4F65B8
}

.morado {
  background-color: #884498
}

.violeta {
  background-color: #AF4A7A
}

.verdeoscuro {
  background-color: #82A73D
}

.vinotinto {
  background-color: #A2292B
}

.gris {
  background-color: #868686
}

.container-shorcut {
  margin-bottom: 70px;
  display: table
}

.search-form .search-input button i {
  font-size: 18px;
  width: 28px;
  color: black;
}

.search-form .search-input input {
  background: #F1F1F1;
  border-radius: 10px;
  padding: 5px;
  box-shadow: none;
  padding-left: 55px;
  -webkit-box-shadow: none;
  font-size: 21px;
  font-weight: 500;
}

.search-form {
  border: 0px
}

.link-header-data {
  list-style: none;
  margin-left: 5px;
  display: table;
  margin-bottom: 20px;
}

.auxiliar-bar-header {
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed', GradientType=0);
  border: 1px solid #EAEAEA;
  color: #696969;
}

.auxiliar-bar-header span {}

.text-auxiliar-bar {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
}

.branding-data h1 {
  color: inherit;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: -2px;
  padding-top: 20px;
  text-align: left;
}

.branding-data h1 a {
  color: inherit;
  text-decoration: none;
}

.branding-data .lead {
  color: inherit;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 5px;
  padding-top: 6px;
  margin-bottom: 12px;
}

.navbar-search {
  float: right !important;
  margin-top: 42px !important;
}

.imagen-menu-home {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.navbar-inverse .btn-navbar {
  position: fixed;
  z-index: 1900;
  right: 20px;
}

h2 {
  color: #777777
}

.more-info a {
  color: #777777;
  font-weight: bold;
  font-size: 12px
}

.more-info-black a {
  color: #000000;
  font-weight: bold;
  font-size: 12px
}


/********/

.box-latest-datasets {
  margin-bottom: 20px
}

.title-container-home {
  margin-bottom: 10px
}

.title-features {
  color: #737373;
  font-weight: bold;
  cursor: pointer
}

.container-features-home {
  border-bottom: 1px solid #C1C1C1;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.title-dataset-box {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febc00+0,fdc604+49,fdd302+100 */
  background: #febc00;
  /* Old browsers */
  background: -moz-linear-gradient(left, #febc00 0%, #fdc604 49%, #fdd302 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #febc00 0%, #fdc604 49%, #fdd302 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #febc00 0%, #fdc604 49%, #fdd302 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#febc00', endColorstr='#fdd302', GradientType=1);
  /* IE6-9 */
  border: 1px solid #D4AC28;
  padding-left: 15px;
  color: #867B6A;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer
}

.description-dataset-box {
  border: 1px solid #C3C3C3;
  padding: 10px;
  font-size: 13px
}


/**FOOTER*/

.attribution .ckan-footer-logo {
  background-image: none;
  display: inline;
  text-indent: 0;
}

.menu-footer {
  display: table;
  margin: auto;
}

.menu-footer li {
  float: left;
  margin-right: 15px;
  font-weight: bolder;
}

.menu-footer li a {
  color: #888888
}

.site-footer {
  background-image: none !important;
  background-color: #E3E3E3 !important;
  color: #FFF;
  padding-bottom: 0 !important;
}

.site-footer a {
  color: #ffbd04;
}

.site-footer .attribution {
  float: right;
  text-align: right;
  margin-top: 75px;
}

.footer-gcba {
  background-color: #252120;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
}

.footer-gcba .logo-invertido {
  background: rgba(0, 0, 0, 0) url("images/logo-footer.svg") no-repeat scroll 0 0;
  float: left;
  height: 33px;
  width: 130px;
}

.footer-gcba h5 {
  font-size: 12px;
  color: #FFF;
}


/*******/


/** DATOS**/

.module-heading {
  background-color: #666;
  color: #fff;
}


/****/


/***HOME****/

.homepage {
  background-color: #FFF;
}

article figure,
.row-grid figure {
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
}

.panel-panel {
  margin-left: 0;
}

.row-grid figure:hover {
  opacity: 0.9;
}

.row-grid .span8 figure {
  height: auto;
}

.row-grid .span4 {
  padding-left: 0;
}

article figcaption,
.row-grid figcaption {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0px, rgba(0, 0, 0, 0) 100%);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 30px 20px 15px;
  position: absolute;
  right: 0;
  text-align: left;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 10;
}

.shortcut {
  background-color: transparent;
  border-radius: 6px;
  color: #333;
  display: block;
  padding-bottom: 12px;
  padding-top: 24px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  height: 250px
}

.shortcut p {
  color: #888 !important;
  margin-bottom: 24px;
}

.shortcut span {
  border-radius: 150px;
  color: #fff;
  display: block;
  height: 150px;
  margin: 0 auto 24px;
  position: relative;
  text-align: center;
  width: 150px
}

.homepage .box-stats {
  padding: 20px 10px;
  background-color: #f5f5f5;
  min-height: 156px;
}

.homepage .box-stats ul::before,
.homepage .stats ul::after {
  content: "";
  display: table;
  line-height: 0;
}

.homepage .box-stats ul::after {
  clear: both;
}

.homepage .box-stats ul::before,
.homepage .stats ul::after {
  content: "";
  display: table;
  line-height: 0;
}

.homepage .box-stats ul {
  list-style: outside none none;
  margin: 0;
}

.homepage .box-stats ul li a b {
  display: block;
  font-size: 35px;
  line-height: 1.5;
  color: #3cb5b1;
}

.homepage .box-stats h3 {
  margin: 0 0 10px;
}

.homepage .box-stats a h3 {
  border-bottom: 1px solid #333;
  color: #333;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.homepage .box-stats ul li {
  float: left;
  text-align: center;
  width: 31%;
  font-size: 12px;
  line-height: 16px;
  margin-right: 8px;
}

.homepage .box-stats ul li a {
  color: #333;
}

.homepage .box-stats ul li:last-child {
  margin-right: 0;
}

.homepage .box-stats a {
  text-decoration: none;
}

a.shortcut:hover,
a.shortcut:focus {
  background: #f5f5f5 none repeat scroll 0 0 !important;
}

.shortcut:hover,
.shortcut:focus {
  background: transparent none repeat scroll 0 0;
}

.shortcut:hover,
.shortcut:focus {
  background: #e5e5e5 none repeat scroll 0 0;
  color: #333;
  text-decoration: none;
}


/*ORGANIZACION*/

.module-content p.empty {
  display: none;
}

.context-info h1.heading {
  hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  word-break: normal;
}


/**RESPONSIVE****/

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  .branding-data h1 {
    font-size: 28px;
  }
  .header-tag {
    width: 70px;
  }
  .nav-collapse {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .branding-data {
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .site-footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-gcba {
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

#search button {
  margin-top: -15px;
  left: 15px;
  height: 30px;
}

.input-lg {
  height: 36px;
}

.secondary {
  padding: 0px;
  border-right: 1px solid #dddddd;
}

#ngProgress-container {
  position: absolute;
  z-index: 100000;
  width: 100%;
  top: 0px;
}

#ngProgress {
  background-color: white !important;
  color: white!important
}

.read-more-datasets {
  text-align: center;
  cursor: pointer;
}

.center-spin {
  text-align: center
}

.read-more-datasets:hover {
  background-color: #F3F3F3
}