<search-bar-home></search-bar-home>
<div class="homepage layout-1">
    <div class="container">
        <div class="row">
            <div class="container-navigation col-md-12">
                <categories-grid></categories-grid>
                <auxiliar-bar></auxiliar-bar>
            </div>
        </div>
    </div>
    <div class="container-widget-wide">
      <div class="container">
        <section class="container-widgets col-md-12">
            <div class="row widgets-first-row">
                <article class="col-md-6 widget">
                    <h2 class="title-container-home">Últimas Actualizaciones</h2>
                    <latest-datasets></latest-datasets>
                </article>
                <article class="col-md-6 widget">
                    <h2 class="title-container-home">Datasets Destacados</h2>
                    <starred-datasets></starred-datasets>
                </article>
            </div>
            <div class="row widgets-second-row">
                <article class="col-md-6 widget">
                    <h2 class="title-container-home">Más Descargados</h2>
                    <popular-datasets></popular-datasets>
                </article>
                <article class="col-md-6 widget">
                    <h2 class="title-container-home">Redes Sociales</h2>
                    <social-networks></social-networks>
                </article>
            </div>
        </section>
      </div>
    </div>
</div>
