<div class="homepage layout-1">
    <div class="container">
        <div class="panel-panel row">
            <div class="col-md-12">
                <datasets-categories></datasets-categories>
                <auxiliar-bar></auxiliar-bar>
            </div>
            <div class="container-footer col-md-12">
                <div class="row">
                    <div class="col-md-6 datasets-showcase">
                        <h2 class="title-container-home">Últimas Actualizaciones</h2>
                        <latest-datasets></latest-datasets>
                    </div>
                    <div class="col-md-6 datasets-showcase">
                        <h2 class="title-container-home">Datasets Destacados</h2>
                        <popular-datasets></popular-datasets>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>