<div class="homepage layout-1">
    <div class="container">
        <div class="panel-panel row">
            <div class="container-navigation col-md-12">
                <datasets-categories></datasets-categories>
                <auxiliar-bar></auxiliar-bar>
            </div>
            <section class="container-widgets col-md-12">
                <div class="row">
                    <aside class="col-md-6 datasets-showcase">
                        <h2 class="title-container-home">Últimas Actualizaciones</h2>
                        <latest-datasets></latest-datasets>
                    </aside>
                    <aside class="col-md-6 datasets-showcase">
                        <h2 class="title-container-home">Datasets Destacados</h2>
                        <popular-datasets></popular-datasets>
                    </aside>
                </div>
            </section>
        </div>
    </div>
</div>