<div class="loader loader--style7" title="loading">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="50px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <circle cx="0" cy="4" r="3" fill="#3E4F5E">
            <animate attributeName="opacity" attributeType="XML"
                     values="1; .2; 1" 
                     begin="0s" dur="0.6s" repeatCount="indefinite" />
        </circle>
        <circle cx="10" cy="4" r="3" fill="#3E4F5E">
            <animate attributeName="opacity" attributeType="XML"
                     values="1; .2; 1" 
                     begin="0.2s" dur="0.6s" repeatCount="indefinite" />
        </circle>
        <circle cx="20" cy="4" r="3" fill="#3E4F5E">
            <animate attributeName="opacity" attributeType="XML"
                     values="1; .2; 1" 
                     begin="0.4s" dur="0.6s" repeatCount="indefinite" />
        </circle>
    </svg>
</div>