<div role="main" ng-style="{ 'background-color': custom_defaults.bodyColor || '' }">
    <div id="content" class="container">
        <section class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1 text-justify">
                <div class="container-data">
                    <div class="flash-messages"></div>

                    <h1 class="section-title">Términos y Condiciones de acceso y utilización al Catálogo de Datos Abiertos del Gobierno de la Ciudad Autónoma de Buenos Aires</h1>

                    <br>
                    <section class="center-block">
                        <h3>
                            I. Introducción
                        </h3>
                        <p>
                            <span>El acceso a y/o uso del Catálogo de Datos Abiertos del
                                Gobierno de la Ciudad Autónoma de Buenos Aires (en adelante,
                                el "Catálogo") requiere que todos los visitantes al mismo
                                adhieran a los Términos y Condiciones de utilización de la
                                información contenida en los sitios web de propiedad del
                                GCBA.</span>
                        </p>
                        <p>
                            <span>Dicha adhesión se instrumenta en la aceptación a los
                                Términos y Condiciones publicados en las plataformas web
                                administradas por el Gobierno de la Ciudad. Asimismo, cada
                                sitio web podrá contener Condiciones Particulares, de acuerdo
                                con el criterio que establezca el organismo encargado de la
                                administración de sus contenidos.</span>
                        </p>
                        <p>
                            <span>El catálogo incluye, a más de lo indicado, las
                                Condiciones Generales y/o Particulares que en el futuro
                                puedan dictarse y que complementen, sustituyan y/o modifiquen
                                las actualmente vigentes.</span>
                        </p>
                        <p>
                            <span>Al ingresar y hacer uso del Catálogo, todo "Usuario" (o
                                “Parte Reutilizadora”) adhiere en forma inmediata a todos y
                                cada uno de los Términos y Condiciones aquí
                                establecidos.</span>
                        </p>
                        <p>
                            <span>En consecuencia, el Usuario deberá leer detenidamente
                                los Términos y Condiciones así como las Condiciones
                                Particulares que pudieran dictarse para cada sitio web, al
                                momento de acceder y/o utilizar cualquier servicio del
                                Catálogo, cuyo uso y acceso a los contenidos se efectuará
                                bajo su entera responsabilidad.</span>
                        </p>
                        <p>
                            <span>Los presentes Términos y Condiciones son aplicables a
                                toda persona física o jurídica, que acceda, descargue,
                                utilice, reutilice y/o redistribuya información contenida en
                                el Catálogo. Los términos y condiciones vincularán a
                                cualquier Parte Reutilizadora por el mero hecho de hacer uso
                                de los documentos sometidos a ellas.</span>
                        </p>
                        <h3>
                            <span>II. Condiciones de Acceso al Catálogo</span>
                        </h3>
                        <p>
                            <span>El acceso al Catálogo se realiza a través de Internet,
                                en el sitio cuya página principal se encuentra ubicada
                                en</span> <span><a target="_blank" class="c17" href="http://data.buenosaires.gob.ar">http://data.buenosaires.gob.ar</a></span><span>.</span>
                        </p>
                        <p>
                            <span>Los costos de conexión y transmisión de datos que
                                pudieran originarse de la mencionada página son a exclusivo
                                cargo del Usuario, quien deberá contar, además, con un equipo
                                y programas informáticos que permitan un acceso correcto a la
                                plataforma web, y que cumplan con los requisitos mínimos de
                                seguridad que establezca el Gobierno de la Ciudad.</span>
                        </p>
                        <p>
                            <span>En el supuesto de que el equipo y/o programa
                                informático del Usuario no reúna tales requisitos mínimos, el
                                GCBA podrá bloquear su acceso sin que ello origine derecho a
                                indemnización o resarcimiento alguno al Usuario.</span>
                        </p>
                        <h3>
                            III. De los Cookies
                        </h3>
                        <p>
                            <span>Los Cookies son pequeñas piezas de información
                                transferidas por el sitio Web desde el disco duro de la
                                computadora del Usuario, que graban sus datos personales
                                cuando se conecta al Catálogo y se modifican al abandonar
                                dicha página. Los cookies son anónimos. El Usuario deberá
                                aceptar los cookies para poder recibir y/o utilizar el
                                Catálogo de Datos del Gobierno de la Ciudad.</span>
                        </p>
                        <h3>
                            <span>IV. Responsabilidad. Garantías.
                                Seguridad</span>
                        </h3>
                        <p>
                            <span>El Gobierno de la Ciudad Autónoma de Buenos
                                Aires no será responsable de algún daño, pérdida o gasto que
                                surjan directa o indirectamente en relación con las consultas
                                y/o visitas realizadas a la página web del Catálogo, así como
                                tampoco por su uso o imposibilidad de uso, en relación con
                                cualquier falla en el vencimiento, error, omisión,
                                interrupción, defecto, demora en la operación o transmisión,
                                virus de computadora o falla de sistema o línea.</span>
                        </p>
                        <p>
                            <span>La utilización del Catálogo y/o los
                                conjuntos de datos referenciados se realizará por parte de
                                los Usuarios o Partes Reutilizadoras bajo su propia
                                cuenta y riesgo, correspondiéndoles en exclusiva a ellos
                                responder frente a terceros por daños que pudieran derivarse
                                de ella. El Gobierno de la Ciudad Autónoma de Buenos Aires no
                                será responsable del uso que de su información hagan los
                                Usuarios, las Partes Reutilizadoras, ni tampoco de los daños
                                sufridos o pérdidas económicas que, de forma directa o
                                indirecta, ello pudiere producir.</span>
                        </p>
                        <p>
                            <span>El Usuario o Parte Reutilizadora deslinda al
                                Gobierno de la Ciudad Autónoma de Buenos Aires de
                                responsabilidad sobre la información de la que éstos hagan
                                uso, no pudiendo en consecuencia reclamar por errores u
                                omisiones en esta información y materiales. Debido a que
                                ninguna transmisión por Internet puede garantizar su íntegra
                                seguridad, el Gobierno de la Ciudad Autónoma de Buenos Aires
                                no puede garantizar que la información transmitida utilizando
                                su servicio sea completamente segura, con lo cual el Usuario
                                asume este riesgo que declara conocer y aceptar.</span>
                        </p>
                        <p>
                            <span>El Gobierno de la Ciudad Autónoma de Buenos
                                Aires no está obligado a garantizar ininterrumpidamente la
                                continuidad en la puesta a disposición de la información y
                                los servicios referenciadados a través del Catálogo, ni en
                                contenido ni en forma, ni asume responsabilidades por
                                cualquier error u omisión contenido en ellos.</span>
                        </p>
                        <p>
                            <span>En el caso que Usuarios o Partes
                                Reutilizadoras provean contenidos y/o aplicaciones de
                                software utilizando datos o conjuntos de datos referenciados
                                a través del Catálogo deberán comunicarlo al GCBA a la
                                dirección de correo electrónico</span> <span><a target="_blank" class="c17" href="mailto:data@buenosaires.gob.ar">data@buenosaires.gob.ar</a></span><span>,
                                e incluir la fuente de consulta bajo la siguiente
                                leyenda:</span>
                        </p>
                        <p>
                            <span>“El Gobierno de la Ciudad de Buenos Aires
                                no garantiza la exactitud y completitud de los datos
                                provistos por este sitio Web o aplicación. Este sitio provee
                                aplicaciones usando datos que han sido modificados para su
                                uso respecto de su fuente original (GCBA)”</span><span class="c3"> </span>
                        </p>
                        <h3>
                            <span>V. Modificación
                                de términos. Hipervínculos</span>
                        </h3>
                        <p>
                            <span>El Gobierno de
                                la Ciudad Autónoma de Buenos Aires podrá suprimir y/o
                                modificar, total o parcialmente, los datos abiertos
                                disponibles en el Sitio, así como también los términos y
                                condiciones para su utilización, cada vez que éste lo
                                considere conveniente, y sin necesidad de otra comunicación
                                que no sea su publicación en el sitio de referencia.</span>
                        </p>
                        <p>
                            <span>La página
                                web del Gobierno de la Ciudad Autónoma de Buenos Aires puede
                                contener enlaces con otros sitios, productos y servicios los
                                que son operados y de propiedad de terceros. En este
                                supuesto, la información allí contenida no es administrada ni
                                controlada por el Gobierno de la Ciudad Autónoma de Buenos
                                Aires, no siendo en consecuencia responsable de sus
                                contenidos y/o de la exactitud de la información brindada por
                                ellos, ni de las convenciones que el Usuario y/o las Partes
                                Reutilizadoras puedan celebrar con ellos.</span>
                        </p>
                        <h3>
                            <span>VI. De la
                                información publicada en el sitio web</span>
                        </h3>
                        <p>
                            <span>La
                                información publicada a través de este sitio web reúne los
                                recaudos de la Ley de Protección de Datos Personales Nro.
                                1845 y la Ley de Acceso a la Información Pública Nro. 104.
                                Asimismo, respeta los lineamientos en la materia que dicta el
                                Ministerio de Modernización del Gobierno de la Ciudad.</span>
                        </p>
                        <p>
                            <span>Sin perjuicio de lo señalado, la información publicada en este
                                sitio web corresponderá al conjunto de datos que cada
                                Organismo del Gobierno de la Ciudad otorgue al Administrador
                                de la plataforma virtual para su disponibilidad en el sitio,
                                siendo responsables cada uno de ellos por la información que
                                entreguen para ese fin.</span>
                        </p>
                        <p>
                            <span>Asimismo,
                                se encuentran bajo las normas de confidencialidad/privacidad
                                toda aquella información personal que el Usuario ingresa
                                voluntariamente a nuestra red. Los datos resguardados
                                incluyen nombre, apellido, dirección, número de teléfono,
                                correo electrónico, sexo, edad, o nivel educacional. La
                                enumeración no es taxativa.</span>
                        </p>
                        <h3>
                            VII. Información sobre errores o problemas
                        </h3>
                        <p>
                            <span>Cualquier inquietud, consulta, problema o sugerencia
                                que los Usuarios o Partes Reutilizadores tengan en relación
                                al presente Catálogo y/o conjuntos de datos referenciados a
                                través del mismo podrán ser reportados a la casilla de
                                correo</span>
                            <span><a target="_blank" class="c17" href="mailto:data@buenosaires.gov.ar">data@buenosaires.gob.ar</a> </span>
                        </p>
                        <h3>
                            <span>VIII. Propiedad Intelectual</span>
                        </h3>
                        <p>
                            <span>Las marcas, avisos, nombres
                                comerciales, frases de propaganda, dibujos, diseños, y
                                logotipos que aparecen en el Sitio, son propiedad exclusiva
                                del Gobierno de la Ciudad Autónoma de Buenos Aires, o de
                                terceros que han autorizado su uso al Gobierno de la Ciudad
                                Autónoma de Buenos Aires. En tales casos, queda estrictamente
                                prohibido cualquier uso o explotación por cualquier medio,
                                sin el consentimiento previo y por escrito del Gobierno de la
                                Ciudad Autónoma de Buenos Aires.</span>
                        </p>
                        <br>
                        <h3>Política de licenciamiento de datos</h3>
                        <br>
                        <h3>
                            I. Introducción
                        </h3>

                        <p>
                            La presente política de licenciamiento  de
                            datos complementa los términos y condiciones generales
                            aplicables al uso del Catálogo, y ha sido desarrollada para
                            reflejar el espíritu y preservar la compatibilidad con la
                            definición de <a target="_blank" href="http://opendefinition.org/okd/espanol/">Conocimiento Abierto</a>, en los términos de la
                            definición otorgada por la <a target="_blank" href="http://okfn.org/">Open Knowledge Foundation</a>, como "Una pieza de
                            contenido o conjunto de datos se considera abierto si
                            cualquiera es libre de utilizarlo, reutilizarlo y
                            redistribuirlo, sujeto, a lo sumo, al requisito de atribución
                            y compartir por igual".
                        </p>
                        <p>
                            <span>Así, además de estos Términos y
                                Condiciones de uso generales, los conjuntos de datos
                                (datasets) referenciados a través del Catálogo pueden
                                encontrarse además sujetos a términos y condiciones
                                especìficos para la "licencia" correspondiente,
                                aplicable en el caso particular.</span>
                        </p>
                        <p>
                            <span>Todo conjunto de datos estará sujeto a
                                los términos y condiciones generales expuestos en esta
                                licencia, a más de las condiciones particulares que pudieran
                                aplicarse en el supuesto, salvo cuando se indique
                                expresamente lo contrario.</span>
                        </p>
                        <p>
                            <span>De la misma forma, los metadatos
                                correspondientes a cada uno de los conjuntos de datos
                                referenciados están sujetos a los términos y condiciones
                                generales expuestos en esta licencia, sin excepción.</span>
                        </p>
                        <h3>
                            II. Usos permitidos de los datos
                            disponibles en la plataforma web
                        </h3>
                        <p>
                            <span>Los presentes términos y condiciones
                                permiten, para los documentos y conjuntos de datos
                                referenciados a través del Catálogo, los siguientes
                                usos:</span>
                        </p>
                        <ol>
                            <li>
                                <span>La realización de obras derivadas.</span>
                            </li>
                            <li>
                                <span>Su utilización con fines comerciales y no
                                    comerciales, siempre que dicho uso no constituya una
                                    actividad administrativa pública.</span>
                            </li>
                        </ol>
                        <p>
                            <span>La reutilización autorizada puede incluir la
                                copia, difusión, modificación, adaptación, extracción,
                                reordenamiento y combinación de la información contenida en
                                el sitio, siempre que su utilización se ajuste a las
                                condiciones que en adelante se detallarán.</span>
                        </p>
                        <h3>III. Política de reutilización de datos
                            abiertos. Condiciones</h3>
                        <p>
                            <span>Los datos disponibles en el sitio web podrán
                                ser utilizados de acuerdo con el ítem II., siempre que se
                                ajusten a las siguientes condiciones generales:</span>
                        </p>
                        <strong>No desnaturalizar el sentido de la información.</strong>
                        <ol>
                            <li>
                                <span>Debe citarse la fuente de los documentos
                                    objeto de la reutilización. Esta cita podrá realizarse de
                                    la siguiente manera: “</span><span>FUENTE:
                                    Gobierno de la Ciudad Autónoma de Buenos
                                    Aires</span>
                            </li>
                            <li>
                                <span>Debe mencionarse la fecha de la última
                                    actualización de los documentos objeto de la
                                    reutilización.</span>
                            </li>
                            <li>
                                <span>No se podrá indicar, insinuar o sugerir
                                    que el Gobierno de la Ciudad de Buenos Aires, participa,
                                    patrocina o apoya la utilización o reutilización de la
                                    misma.</span>
                            </li>
                            <li>
                                <span>Deben conservarse, y por tanto no
                                    alterarse ni suprimirse los metadatos sobre la fecha de
                                    actualización y las condiciones de reutilización aplicables
                                    incluidos, en su caso, en el documento puesto a disposición
                                    para su utilización o reutilización.</span>
                            </li>
                        </ol>
                        <h3>
                            IV. Terminación de la licencia por parte
                            del GCBA
                        </h3>
                        <p>
                            <span>El
                                Gobierno de la Ciudad Autónoma de Buenos Aires puede
                                solicitar a un Usuario o Parte Reutilizadora que cese en el
                                uso de esta licencia y cualquier forma de distribución de
                                datos que se realice bajo la misma, en el caso que este
                                considere que ha existido una violación a los términos y
                                condiciones aquí descriptos. Ello, sin perjuicio de las
                                medidas que en su consecuencia el GCBA pueda llegar a adoptar
                                con el Usuario o Parte Reutilizadora que haya incumplido los
                                términos y condiciones generales aquí definidos.</span>
                        </p>
                        <h3>
                            V. Controversias judiciales. Jurisdicción
                            aplicable</h3>
                        <ol>
                            <li>
                                <span>Toda controversia que se suscite en
                                    relación al incumplimiento de los</span> <span>Términos y Condiciones de Acceso y Utilización al
                                    Catálogo de Datos Abiertos, y con la Política de
                                    licenciamiento de los datos</span> <span class="c3">disponibles a través de las plataformas virtuales
                                    del GCBA, serán competentes para entender los Tribunales
                                    en lo Contencioso Administrativo y Tributario de la
                                    Ciudad Autónoma de Buenos Aires (Conf. Ley 189).</span>
                            </li>
                            <li>
                                <span>A tales efectos, el GCBA constituye
                                    domicilio en Uruguay 458, de la Ciudad Autónoma de Buenos
                                    Aires, Departamento Oficios Judiciales y Cédulas de la
                                    Procuración General de la Ciudad (Conf. Artículo 20º de la
                                    Ley Nº 1.218 y Resolución 77/PG/06).</span>
                            </li>
                        </ol>
                        <br>
                        <h3>Política de comentarios de Buenos Aires Data</h3>
                        <br>
                        <h3>I. Introducción</h3>
                        <p>Los espacios de foro disponibles en los datasets que conforman el portal de datos abiertos  tienen el objetivo de ampliar la participación de la ciudadanía a través de la inclusión de sugerencias y/o comentarios. Los mismos utilizan la herramienta Disqus y están regulados por Políticas de Privacidad y Términos de uso de la misma. Asimismo, el administrador de BA data regulará los mismos eliminando los casos que incluyan algún contenido considerado inapropiado o que se encuentre dentro de las siguientes especificaciones: </p>
                        <ol>
                            <li>
                                <span>Si contienen lenguaje violento, insultante, amenazante, discriminatorio, pornográfico, difamatorio, calumnioso, injurioso.</span>
                            </li>
                            <li>
                                <span>Si afectan la sensibilidad de otros usuarios o personas que involucra la información.</span>
                            </li>
                            <li>
                                <span>Si el nombre del usuario contiene palabras inadecuadas, ofensivas, insultantes, obscenas o agraviantes.</span>
                            </li>
                            <li>
                                <span>Si contiene amenazas o declaraciones difamatorias.</span>
                            </li>
                            <li>
                                <span>Si revelan información confidencial de otras personas.</span>
                            </li>
                            <li>
                                <span>Si el contenido refiere a raza, religión, sexo, orientación sexual, etnia, origen nacional, edad o discapacidad.</span>
                            </li>
                            <li>
                                <span>Si el contenido es spam o está fuera del tema propuesto.</span>
                            </li>
                            <li>
                                <span>Si explicita temas protegidos por derecho de autor o marcas registradas.</span>
                            </li>
                            <li>
                                <span>Si afecta contra las leyes de moral y buenas costumbres.</span>
                            </li>
                            <li>
                                <span>Serán eliminados los comentarios ofensivos, sátiras, ridiculizaciones y cualquier otra expresión cuyo fin sea contrario a los objetivos de la presente página web.</span>
                            </li>
                        </ol>
                        <p>
                            Cada usuario tendrá la posibilidad de loguearse a través de su mail, cuenta de Facebook o Twitter o utilizando un nombre y una cuenta de mail. El mismo será responsable de sus intervenciones. El portal no se responsabiliza ni expresa plena conformidad sobre los mismos.
                        </p>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
