    <div class="categories-container">
        <a href="#/datasets/?cat={{ item.name | slug }}" class="categories-item categories-grid-item" ng-repeat="item in categories.data">
            <span class="categories-grid-item-image {{ item.name | slug }}"></span>
            <h4 class="categories-item-title categories-grid-item-title">{{item.name}}</h4>
        </a>
    </div>

    <div class="row center-spin" ng-if="showCategories">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
