.navbar-left-section, .navbar-right-section {
  position: absolute;
  top: 10px;
}

.navbar-left-section {
  left: 0;
}

.navbar-right-section {
  right: 0;
}

.navbar-button {
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  &:not(.active):hover,
  &:not(.active):active {
    color: white;
  }
  i {
    line-height: 25px;
  }
}

@media (max-width: $max-tablet-landscape) {
  .navbar {
    height: $navbar-height-mobile;
    .container {
      padding: 0;
      width: 100%;
    }
  }
  .navbar-menu-button {
    display: inline;
  }
  .navbar-odin-logo {
    display: block;
    height: $navbar-height-mobile - 10px;
    float: none;
    margin: 0 auto;
  }
  [data-tooltip]:hover:after {
    display: none;
  }
}