.navbar-menu-button {
  color: white;
  display: none;
  float: left;
  font-size: 20px;
  line-height: 25px;
  padding: 5px 10px;
  transition: .25s color;
  &.active {
    color: $primary-color;
  }
  &:not(.active):hover,
  &:not(.active):active {
    color: white;
  }
}

@media (max-width: $max-tablet-landscape) {
  .navbar {
    height: $navbar-height-mobile;
    .container {
      padding: 0;
      width: 100%;
    }
  }
  .navbar-menu-button {
    display: inline;
  }
  .navbar-odin-logo {
    display: block;
    height: $navbar-height-mobile - 10px;
    float: none;
    margin: 0 auto;
  }
  [data-tooltip]:hover:after {
    display: none;
  }
}