<div class="categories-container categories-row-container">
    <a href="datasets?categories.name={{ category.name | slug }}" class="categories-item categories-row-item" ng-repeat="category in categories" svg-hover-color active="{{(category.name | slug) === activeCategory || activeCategories.indexOf(category.name) !== -1}}">
        <div class="category-image" svg-img="category.id" active="{{(category.name | slug) === activeCategory || activeCategories.indexOf(category.name) !== -1}}"></div>
        <h4 class="categories-item-title categories-row-item-title">{{category.name}}</h4>
    </a>
</div>

<div class="row center-spin" ng-if="showCategories">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
</div>
