<div class="categories-sidebar" ng-class="{show: showCategoriesSidebar}">
  <ul class="category-list">
    <li class="category-item"
      ng-repeat="category in categories"
      ng-class="{active: (category.name | slug) === activeCategory || activeCategories.indexOf(category.name) !== -1}"
      ng-click="hideCategoriesSidebar()"
    >
      <a ng-href="datasets?categories.name={{ category.name | slug }}">
        <div class="category-icon">
          <i svg-img="url_api + '/categories/' + category.id + '/image'"></i>
        </div>
        <div class="category-name">{{category.name}}</div>
      </a>
    </li>
  </ul>
</div>