<div class="search-bar-home">
  <div class="container">
      <div class="row">
          <section class="col-lg-10 col-lg-offset-1 search-bar search-bar-home">
              <div class="lead-container">
                <p class="lead">Iniciativa de Datos Públicos y Transparencia de la Ciudad Autónoma de Buenos Aires.</p>
              </div>
              <!-- <div class="search-home-text">
                  <h3>Buscá entre {{countDatasets}} Datasets</h3>
              </div> -->
              <div id="search" class="module-content search-form">
                  <div class="input-group">
                      <input id="search-input" placeholder="Buscá entre {{countDatasets}} Datasets"  onfocus="this.placeholder = ''"  name="q" ng-model="query" ng-enter="search()" class="form-control input-md" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
                      <div class="input-group-btn">
                          <button type="button" ng-click="search()" class="btn btn-default"><i class="fa fa-search icon-search"></i></button>
                      </div>
                  </div>
                  <a id="search-clear" href="#" class="fa fa-times-circle hide" aria-hidden="true"><span class="sr-only">Clear search</span></a>
              </div>
          </section>
      </div>
  </div>
</div>
