<div class="container">
      <div class="row">
          <section class="col-md-10 col-lg-11 col-lg-offset-1 search-bar">
              <div id="search" class="col-lg-11 module-content search-form">
                  <div class="input-group">
                      <input id="search-input" name="q" placeholder="{{query}} " ng-model="query" ng-enter="search()" class="form-control input-md"
                      autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1" value="{{query}}">
                      <div class="input-group-btn">
                          <button type="button" ng-click="search()" class="btn btn-default"><i class="fa fa-search icon-search"></i></button>
                      </div>
                  </div>
                  <a id="search-clear" href="#" class="fa fa-times-circle hide" aria-hidden="true"><span class="sr-only">Clear search</span></a>
              </div>
          </section>
      </div>
  </div>
